{% extends 'layout.html'%}        
{% block body%}
<div class="col-md-4 offset-md-4">
    <div class="card card-body">
        <h4>Campos a editar</h4>
            <form action="/editar_personas/{{ datos_persona[0] }}" method="POST">

                <label for="nombre"></label><br>
                <input type="text" name="nombre"  value="{{datos_persona[1]}}"><br>
                

                <label for="mail"></label><br>
                <input type="text" name="mail" value= "{{datos_persona[2]}}" ><br>
            
                
                <label for="celular"></label><br>
                <input type="text" name="celular" value= "{{datos_persona[3]}}" ><br><br>
                

                <button type="submit" class="btn btn-primary"> Guardar cambios</button>
            </form>
    </div>
</div>
            
        
{% endblock%}        
      